		body {
			background-image: url(bg.png);
			font-family: Tahoma;
		}
		
		#frame {
			background-color: rgba(255,200,200,0.3);
			width: 1020px;
			height: 600px;
			margin-left: 451px;
			margin-top: -1px;
			padding-top: 12px;

		}

		header > h1 {
			text-align: center;
		}
		
		header nav ul {
			list-style-type: none;
			background-color: rgba(255,255,200,0.3);
			padding-bottom: 11px;
			padding-top: 11px;
			padding-left: 11px;
			width: 990px;
			margin-left: 10px;
		}
		
		#content {
			display: flex;
		}
		
		nav li {
			display: inline;
			margin-right: 5px;
		}
		
		nav li a {
			text-decoration: none;
			font-weight: bold;
			color: black !important;
		}
		
		main{
			border: 1px black solid;
			background-color: rgba(200,200,255,0.3);
			flex: 2;
			margin-left: 11px;
		}
		
		aside{
			border: 1px black solid;
			background-color: rgba(200,255,200,0.3);
			flex: 1;
			margin-right: 10px;
		}
		
		body article {
			background-color: rgba(200,200,200,0.6);
			margin: 0px 9px 0px 9px;
			line-height: 33px;
		}
		
		header {
		}
		
		footer {
			background-color: rgba(255,255,200,0.3);
			font-weight: bold;
			text-align: center;
			margin: 0px 10px 10px 11px;
		}
	