		body {
			background-image: url(bg.png);
			font-family: Tahoma;
			margin-left: -200px;
		}
		
		#frame {
			background-color: rgba(255,200,200,0.3);
			width: 1020px;
			height: 600px;
			margin-left: 440px;
			padding-top: 10px;
		}
		
		header nav ul {
			list-style-type: none;
			background-color: rgba(255,255,200,0.3);
			width: 990px;
			margin-left: 10px;
			height: 30px;
			padding-top: 10px;
			padding-left: 10px;
		}
		
		#content {
			display: flex;
		}

		nav li {
			display: inline;
		}
		
		nav li a {
			text-decoration: none;
			color: black;
			font-weight: bold;
			padding-right: 18px;
		}
		
		main{
			border: 1px black solid;
			background-color: rgba(200,200,255,0.3);
			width: 670px;
			padding-left: 10px;
			margin-left: 10px;
			height: 420px;
			padding-top: 10px;
			padding-right: 10px;
		}
		
		aside{
			border: 1px black solid;
			background-color: rgba(200,255,200,0.3);
			width: 289px;
			padding-left: 10px;
			padding-top: 10px;
			padding-right: 10px;
		}
		
		aside article {
			height: 80px;
			line-height: 30px;
		}

		article {
			background-color: rgba(200,200,200,0.6);
			margin-top: 10px;
			padding-bottom: 1px;
			height: 80px;
			line-height: 30px;
		}

		header h1 {
			padding-left: 455px;
		}

		footer {
			background-color: rgba(255,255,200,0.3);
			text-align: center;
			width: 1000px;
			margin-left: 10px;
			font-weight: bold;
		}
	