* {margin: 0; padding: 0;}
body {
	background-image: url("bg.png");
	font-family: Tahoma;
}

.frame{
	background-color: rgba(0,128,0,0.4);
	
	/* put css-rules in this ccs-block here below */
    min-width: 620px;
    max-width: 620px;
	position: relative;
    height: 620px;
    left: 89px;
    right: 89px;
}

h1{
	background-color: rgba(0,32,0,0.4);
	line-height: 79px;
	
	/* put css-rules in this ccs-block here below */
    position: relative;
    min-width: 578px;
    max-width: 578px;
    top: 20px;
    left: 11px;
    bottom: 31px;
    padding-left: 21px;
    
}

h2{
	line-height: 42px;
	
	/* put css-rules in this ccs-block here below */
	position: relative;
    border: 4px solid rgb(128, 0, 128);
    top: 51px;
    left: 11px;
    margin-right: 21px;
    margin-bottom: 11px;
    padding-left: 19px;
}

p{
	background-color: rgba(256,256,0,0.4);
	line-height: 20px;
	
	/* put css-rules in this ccs-block here below */
    position: relative;
    min-width: 577px;
    max-width: 577px;
    top: 50px;
    left: 11px;
    margin-bottom: 10px;
    padding-left:11px;
    padding-right: 11px;    
}
